{include file="common/head"/}
<div class="h20"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img width="200" src="__STATIC__/index/img/qr_dingyue.jpg" alt=""/>
            <p>真实订阅号</p>
        </div>
        <div class="col-sm-3">

            <img width="200" src="__STATIC__/index/img/qr_test.jpg" alt=""/>

            <p>测试号公众平台</p>
            <p>
                <a href="https://mp.weixin.qq.com/debug/cgi-bin/sandboxinfo?action=showinfo&t=sandbox/index">https://mp.weixin.qq.com/debug/cgi-bin/sandboxinfo?action=showinfo&t=sandbox/index</a>
            </p>
        </div>
        <div class="col-sm-3">

            <img width="200" src="__STATIC__/index/img/qr_qiye.jpg" alt=""/>

            <p>企业号</p>
            <p>
                <a href="{:url('/test/company')}">test/company</a>
            </p>
        </div>
    </div>
</div>
{include file="common/foot"/}
