{include file="common/head"/}
{include file="common/grey-style"/}

<div class="h20"></div>
<div class="container">

    <div class="row">
        <div class="col-sm-12">

            <ul class="rank-website">

                {foreach name="lists" item="item" index="index"}

                <li class=" rank-item">
                    <!--<span class="item-label gold">{$index}</span>-->
                    <a href="{:url('/index/links/go',['id'=>$item.id])}" target="_blank">
                        <img src="{:model('Common')->getThumbUrl($item.logo,100,100)}" alt=""/>
                        <h3>{$item.name}</h3>
                    </a>
                    <p>{$item.description}</p>
                </li>
                {/foreach}
            </ul>

        </div>

    </div>
</div>
{include file="common/foot"/}
