   </div>
</div>
</div>
<div class="h20"></div>
<footer class="footer">
    <div class="container">
        <div class="row">
          <div class="col-sm-12">
              <div class="copyright">
                  <p>
                      <a target="_blank" href="{:url('/ctrl.php')}">网站后台</a>
                      <a href="{:url('/index/test')}">实验室</a>
                      <a href="{$config.icp_url}">{$config.icp}</a>
                       {$config.copyright}
                  </p>
              </div>
          </div>
        </div>
    </div>
</footer>
</body>
</html>